<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Travel Buddy</title>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="navbar bg-dark text-right">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="mb-5 mt-5 text-light">Welcome!</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% if messages %}
			<div class="col alert alert-danger mt-5" role="alert">
				<ul class="messages">    
					{% for message in messages %}    
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<div class="row">
			<div class="col">
				<h2 class="mb-5 mt-5">Registration</h2>
				<form id='register-form'action='/register' method='post'>
					{% csrf_token %}
					<div class="form-group row">
						<div class="col">
							<label for="name" class="col-form-label">Name</label>
							<input type="text" id="name"  class="form-control" name="name" required="true">
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<label for="username" class="col-form-label">Username</label>
							<input type="text" id="username"  class="form-control" name="username" required="true">
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<label for="password" class="col-form-label">Password</label>
							<input type="password" id="password"  class="form-control" name="password" required="true">
							<small id="password_help" class="form-text text-muted">* Password should be at least 8 characters</small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<label for="confirm_password" class="col-form-label">Confirm PW</label>
							<input type="password" id="confirm_password"  class="form-control" name="confirm_password" required="true">
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<input type="hidden" id="form-type" name="form-type" value="register">
							<input class='btn btn-primary' type='submit' value='Register'>
						</div>
					</div>
				</form>
			</div>
			<div class="col">
				<h2 class="mb-5 mt-5">Login</h2>
				<form id='login-form'action='/login' method='post'>
					{% csrf_token %}
					<div class="form-group row">
						<div class="col">
							<label for="username" class="col-form-label">Username</label>
							<input type="username" id="username"  class="form-control" name="username" required="true">
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<label for="password" class="col-form-label">Password</label>
							<input type="password" id="password"  class="form-control" name="password" required="true">
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<input type="hidden" id="form-type" name="form-type" value="login">
							<input class='btn btn-primary' type='submit' value='Login'>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>